.body {
    display: flex;
    flex-direction: column;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding-left: 124px;
    padding-right: 124px;
}

.head-links {
    display: flex;
    list-style: none;
    gap: 16px;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
}

.sec-one {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    height: 330px;
    padding-left: 124px;
    padding-right: 124px;
    justify-content: space-between;
}

.onecard {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 14px;
}

.awetext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.awesub {
    font-size: 18px;
    color: #F9FAF8;
}

.signtop {
    display: flex;
    padding: 8px 16px;
    border-radius: 8px;
    width: 98px;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
}

.sec-one img {
    height: 250px;
}

.sec-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

.twotitle {
   display: flex;
   font-size: 36px; 
   font-weight: 900;
   color: #1F2937;
   margin: 28px;
}

.twocard {
    display: flex;
    margin-top: -35px;
    gap: 12px;
}

.info {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 225px;
}

.twocard img {
    width: 225px;
}

.info-text {
    display: flex;
    font-weight: 700;
    margin-top: -25px;
}

.sec-three {
    display: flex;
    height: 330px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.testbox {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.quote {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.sig {
    display: flex;
    margin-left: auto;
    font-weight: bold;
}